.book-stores {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.book-store {
  position: relative;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 var(--spacing-medium)
    var(--spacing-large);
  background-color: #fff;
}

.book-store__image {
  width: 100px;
  padding: var(--spacing-default) 0 0 var(--spacing-default);
}

.book-store__text {
  padding: var(--spacing-default);
}

.book-store__name {
  margin: 0 0 var(--spacing-medium) 0;
}

.book-store__rating {
  display: flex;
  position: absolute;
  top: var(--spacing-default);
  right: var(--spacing-default);
  padding: 0;
  list-style: none;
}

.book-store__star:not(:last-child) {
  margin-right: var(--spacing-medium);
}

.book-store__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-default);
  padding-top: 0;
}

.book-store__flag {
  width: 30px;
}
