.book-stores {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.book-store {
  position: relative;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 var(--spacing-medium)
    var(--spacing-medium);
  background-color: #fff;
}

.book-store:not(:last-child) {
  margin-bottom: var(--spacing-default);
}

@media (min-width: 600px) {
  .book-store {
    display: grid;
    grid-template-columns: 174px 1fr;
    font-size: 1.5rem;
  }

  .book-store:not(:last-child) {
    margin-bottom: var(--spacing-large);
  }
}

@media (min-width: 1024px) {
  .book-store {
    display: grid;
    grid-template-columns: 274px 1fr;
    font-size: 1.5rem;
  }

  .book-store:not(:last-child) {
    margin-bottom: var(--spacing-large);
  }
}

.book-store__image {
  width: 100px;
  height: 100px;
  padding: var(--spacing-default) 0 0 var(--spacing-default);
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .book-store__image {
    width: 150px;
    height: 150px;
    padding: var(--spacing-large) 0 0 var(--spacing-large);
  }
}

@media (min-width: 1024px) {
  .book-store__image {
    width: 250px;
    height: 250px;
  }
}

.book-store__text {
  padding: var(--spacing-default) 0 var(--spacing-default)
    var(--spacing-default);
}

@media (min-width: 600px) {
  .book-store__text {
    padding: var(--spacing-large) 0 0 var(--spacing-large);
  }
}

.book-store__name {
  margin: 0 0 var(--spacing-medium) 0;
}

@media (min-width: 1024px) {
  .book-store__name {
    margin: 0 0 var(--spacing-large) 0;
  }
}

.book-store__rating {
  display: flex;
  position: absolute;
  top: var(--spacing-default);
  right: var(--spacing-default);
  padding: 0;
  list-style: none;
}

@media (min-width: 600px) {
  .book-store__rating {
    top: var(--spacing-large);
    right: var(--spacing-large);
  }
}

.book-store__star {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.867 53.867' xml:space='preserve'%3E%3Cpath fill='%23cccccc' d='m26.934 1.318 8.322 16.864 18.611 2.705L40.4 34.013l3.179 18.536-16.645-8.751-16.646 8.751 3.179-18.536L0 20.887l18.611-2.705z'/%3E%3C/svg%3E");
}

.book-store__star:not(:last-child) {
  margin-right: var(--spacing-small);
}

.book-store__star:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.867 53.867' xml:space='preserve'%3E%3Cpath fill='%2300bfff' d='m26.934 1.318 8.322 16.864 18.611 2.705L40.4 34.013l3.179 18.536-16.645-8.751-16.646 8.751 3.179-18.536L0 20.887l18.611-2.705z'/%3E%3C/svg%3E");
  cursor: pointer;
}

.book-store__star--active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.867 53.867' xml:space='preserve'%3E%3Cpath fill='%23efce4a' d='m26.934 1.318 8.322 16.864 18.611 2.705L40.4 34.013l3.179 18.536-16.645-8.751-16.646 8.751 3.179-18.536L0 20.887l18.611-2.705z'/%3E%3C/svg%3E");
}

.book-store__books {
  width: calc(100% - var(--spacing-default));
}

@media (min-width: 600px) {
  .book-store__books {
    width: calc(100% - var(--spacing-large));
  }
}

.book-store__books,
.book-store__book-header,
.book-store__book-info {
  padding: var(--spacing-small);
  border: 1px solid #ccc;
  border-collapse: collapse;
}

@media (min-width: 600px) {
  .book-store__books,
  .book-store__book-header,
  .book-store__book-info {
    padding: var(--spacing-medium);
  }
}

@media (min-width: 1024px) {
  .book-store__books,
  .book-store__book-header,
  .book-store__book-info {
    padding: var(--spacing-default);
  }
}

.book-store__book-header {
  border-right: 0;
}

.book-store__info {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-default);
  padding-top: 0;
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  .book-store__info {
    padding: var(--spacing-large);
    font-size: 1.25rem;
  }
}

.book-store__flag {
  width: 32px;
}
